body {
    background-color: #0000ff8c;
    padding: 20px;
    margin: 0;
  }

.main {
    width: 800px;
    margin: 0 auto;
    border: 25px solid #f7f7f7;
    padding: 20px;
    background-color: #FFCC00;
}
.mainHome{
    background: #fff;
    padding: 20px;
    width: 760px;
    margin: auto 0;
}


  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
.styled-table, .styled-table-order {
    border-collapse: collapse;
    margin: 25px 0;
    text-align: center;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table-order thead tr {
    background-color: #7300987a;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td,
.styled-table-order th,
.styled-table-order td
{
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr, .styled-table-order tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even),
.styled-table-order tbody tr:nth-of-type(even)
{
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table-order tbody tr:last-of-type {
    border-bottom: 2px solid #7300987a;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.addCart {
    background: #00987a71;
    cursor: pointer;
    border: 1px solid #00987a71;
    border-radius: 2px;
 }

 .removeCart{
    background: #98005971;
    cursor: pointer;
    border: 1px solid #98005971;
    border-radius: 2px;
 }

 .title-base {
    margin-bottom: 5px;
    text-align: center;
    position: relative;
}

.title-base h2{
    font-weight: 600;
    font-size: 34px;
    line-height: 34px;
    text-transform: uppercase;
    margin-top: 0;
    color: #484848;
}
.menuName{
    text-transform: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #484848;
}
.confirmDetal{
    border: 4px solid #3f51b5;
    padding: 10px;
}

.add-btn{
    background-color: #2db96b;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #2db96b;
}

